@use "base";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-light;
  }

  :root {
    --primary: #14c2a3;
    --dark: #141414;
    --dark-ray: #1a1919;
    --light: #fafafa;
    --gray: #b9b9bf;
    --transparent: transparent;
    --destructive: #dc2626;
    --card: #2b2b2b;
    --accent: #b9b9bf80;
  }
}