html,
body {
  width: 100%;
  height: 100%;
}

// customize scrollbar
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(229, 231, 232, 0.8);
  border-radius: 10px;
}

