.three-line-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

// customize scrollbar
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: var(--dark);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(229, 231, 232, 0.8);
  border-radius: 10px;
}

//custom vertical-timeline
.vertical-timeline::before {
  background-color: var(--accent) !important;
}

.vertical-timeline-element-icon {
  box-shadow: none !important;
}

.vertical-timeline-element-content {
  box-shadow: none !important;
}

.vertical-timeline-element-content-arrow {
  border: none !important;
  height: 3px !important;
  width: 36px !important;
  top: 30px !important;
  background-color: var(--primary);
}


@media only screen and (max-width: 1169px) {
  .vertical-timeline-element-content-arrow {
    border: none !important;
    height: 2px !important;
    width: 26px !important;
    top: 20px !important;
  }
  .vertical-timeline-element-content .vertical-timeline-element-date {
    display: none !important;
  }
}

